@media  screen and  (max-width:1200px) {

    .adminContainer{
        overflow: auto;
    }
    .dashboard {

        .widgetcontainer ,   .graph-container , .transaction-container{
            justify-content:  center;
            flex-wrap: wrap;
        }
        .graph-container{
            padding: 2rem;
       
        }
        .transaction-container {
            padding: 2rem;
            height: unset;

        }
    }
    .product-managment{
        padding: 2rem;

}
}

@media  screen and  (max-width:1100px) {

    .adminContainer{
       grid-template-columns: 1fr  !important;

  }
}

@media  screen and  (max-width:600px) {
    .productManagment{
        flex-direction: column;
        align-items: center;
        padding: 0;
        >section{
            max-width: 400px;
        }
    }

    .chart-container{
        padding: 0;
        > h1{
            margin : 0 ; 
            text-align: center;
        }
        >section{
            margin: 8rem auto;
        }
    }
    .admin-dashboard-app > section{
        .coupon-form,.stop-watch{
            
            display: flex;
            flex-direction: column;
        
          }
          .stop-watch{
            align-items: center;
          }
       
    }
   
}